# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/

# 依存関係
node_modules/

# ビルド
build/
dist/

# キャッシュ
.cache/
.eslintcache

# OS
.DS_Store
Thumbs.db

# エディタ
.vscode/
.idea/

# ログ
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
